html { 
	background: center / cover no-repeat linear-gradient(rgba(99,130,154,0.6),rgba(123,155,167,0.5)),center / contain no-repeat url(../img/justasec.svg);
}

html.dark { background: none; }

.veil {
	background: #9cd1b9; 
}

.demo {
  --background: top right / 1rem no-repeat url("../img/remove.svg"), center / contain no-repeat linear-gradient(#ffaa80,#ffaa80);
}

svg .segment { --statline: #00006b; }
svg .segment:first-of-type { --statline: transparent; }
 
a { --color: black; }

h1 { --background: linear-gradient(90deg,#ADD8E6,#D4EDF5); }

nav .menuitem ul {
	--background: linear-gradient(90deg,#D5F4EC,#BFF0E3);
}

nav .menuitem.menu_formal ul {
	--background: linear-gradient(90deg,#D5F4EC,#C3D8D2);
}

nav .menuitem.menu_settings ul {
	--background: linear-gradient(90deg,#D5F4EC,#E2F2BB);
}

nav .menuitem.menu_logout ul {
	--background: linear-gradient(90deg,#D5F4EC,#ADD8E6);
}

nav .menuitem ul li {
	--background: transparent;
}
nav .menuitem ul li a{
	--background: transparent;
}



.app textarea {
/*	--background: #ADD8E6; */
	--color: #001A23;
}

.app .testContainer.tests {
	--color: #001A23;
}

.app .testContainer {
	--color: black;
}

.app .infoContainer {
	--color: black;
}

.chunkContainer .correct { --color: #006100; }

.focusHackInput:focus + label .burgermenu { --background: #D5F4EC; --color: #32584E; }

.topbar .key { --color: #3EAAED; }
.topbar .value { --color: #0B595D; }

.continueIndex { --background: #63B2FF; }

.sprechblase { 
	--background: center / contain no-repeat url(../img/sprechblase.svg);
}

.denkblase { 
	--background: center / contain no-repeat url(../img/denkblase.svg);
}

.app .blase {
	filter: invert(94%) sepia(67%) saturate(6047%) hue-rotate(175deg) brightness(108%) contrast(93%);
}

.app .blase.test {
  filter: invert(98%) sepia(88%) saturate(351%) hue-rotate(167deg) brightness(97%) contrast(89%);
}

.app .before.test {
  background: #D6E5EA;
}

.app .blase.result {
  filter: invert(89%) sepia(12%) saturate(1442%) hue-rotate(61deg) brightness(101%) contrast(102%);
}

.app .blase.summary {
  filter: invert(93%) sepia(80%) saturate(794%) hue-rotate(338deg) brightness(95%) contrast(89%);
}

.app .blase.statistics {
/*  filter: invert(87%) sepia(34%) saturate(348%) hue-rotate(23deg) brightness(109%) contrast(103%); 
  filter: invert(87%) sepia(34%) saturate(140%) hue-rotate(9deg) brightness(95%) contrast(103%); */
  filter: invert(93%) sepia(80%) saturate(794%) hue-rotate(338deg) brightness(95%) contrast(89%);
}

.app .mIdirection.up {
  --background: center / contain no-repeat url(../img/up.svg);
  filter: invert(20%) sepia(100%) saturate(4138%) hue-rotate(107deg) brightness(97%) contrast(103%);
}

.app .mIdirection.equal {
  --background: center / contain no-repeat url(../img/equal.svg);
}

.app .mIdirection.down {
  --background: center / contain no-repeat url(../img/down.svg);
  filter: invert(9%) sepia(83%) saturate(3254%) hue-rotate(337deg) brightness(106%) contrast(115%);
}

.app .setting.back {
  --background: center / contain no-repeat url(../img/back.svg);
}

.app .diary tr:nth-child(even) {
  --background: #91cff3;
}

.app .diary tr:nth-child(odd) {
  --background: #e5f3ee;
}

.app div.setting {
  --background: #9cd1b9;
  --color: #070729;
}

a.setting {
  --color: #ffffff;
}

.app .setting_result.success {
  --background: #66D086;
  --color: white;
}

.app .setting_result.failed {
  --background: #FFA500;
  --color: black;
}

.app .info {
  --background: top center / 100% auto repeat-y linear-gradient(0deg,#ffffffff,#ffffff80), top center / cover url(../img/info.svg);
}

.app .info li {
  --background: none;
}

.app label.search {
  --background: center / contain no-repeat url(../img/search.svg);
}

.app span.remove {
  --background: center / contain no-repeat url(../img/remove.svg);
}

.app .password.submit label {
  --background: none;
}

.app .password.submit {
  --background: linear-gradient(23deg,#CFFFCF,#90EE90);
}

.app .password.submit.disabled {
  --background: linear-gradient(23deg,#D1D1D1,#909090);
  --color: #606060;
}

.app input.password {
  --background: #CDE7F0;
}

.app .progress .finished {
  --background: #90EE90;
  --color: black;
}

.app .progress .todo {
  --background: #4D4D4D;
  --color: white;
}

.app #impressum {
  --background: #DBE2E0;
}

.app .btn {
  --color: #606060;
}

.app .clip.btn {
  --background: center left / contain no-repeat url(../img/clipboard.svg),linear-gradient(90deg,#FFD993,#FCE3B4);
}

.app .file.btn {
  --background: center left / contain no-repeat url(../img/clipboard.svg),linear-gradient(90deg,#FFD993,#FCE3B4);
}

.app .selectTimeRange { 
  --background: none; 
}

