* {
  background: var(--background);
  color: var(--color);
}

html { height: auto; }

body { opacity: 0; transition: 0.8s ease; margin: 0; min-height: 100vh;}

a { text-decoration: none; }

input[type=text] {
  border: none;
  outline: none;
  width: 20vw;
}

.veil {
	margin: 0;
	padding: 0;
	width: 100vw;
	min-height: 100vh;
}
.block { display: block; }
.small { font-size: small; }

nav ul { list-style-type: none;  }
nav .menuitems { font-family: system-ui; padding: 1rem; border: 0.2rem solid var(--background); border-radius: 0.5rem; margin: 0 0.5rem; white-space: nowrap; line-height: 2rem; }
nav .menuitem.menu_formal { font-size: small;}

.burgermenu { position: relative; right: 1rem; }
.burgermenu img { height: 1rem; transform: scaleX(4); }

/* Navigation */
.focusHackLabel { height: auto; position: absolute; right: 0.5rem; text-align: right; }
.focusHackInput { height: 1px; width: 1px; opacity: 0; display: inherit; }
.focusHackInput + label img { opacity: 1; height: 1rem; }
/*.focusHackInput + label ul:active { z-index: 1; }*/
.focusHackInput + label .menuitems:active { z-index: 1; }
.focusHackInput:focus + label img { opacity: 0; height: 0; }
/*.focusHackInput + label ul { opacity: 0; z-index: -1; position: absolute; right: 0; }*/
.focusHackInput + label .menuitems { opacity: 0; z-index: -1; position: absolute; right: 0; }
/*.focusHackInput:focus + label ul { opacity: 1; height: auto; z-index: 1; }*/
.focusHackInput:focus + label .menuitems { opacity: 1; height: auto; z-index: 1; }


/* app classe styles */
.topbar { position: absolute; top: 0; font-size: small; font-family: system-ui; }
.topbar ul { list-style-type: none; margin: 0.2rem; padding: 0; }
.topbar li { display: inline-block; }
.topbar .value { padding: 0 0.2rem; }

.app h1, .app h2 { font-family: sans-serif; text-align:center; }
.app .container { 
  width: 85%;
  padding: 0.5rem;
}

.app .container {
  width: 85vmin;
  padding: 0;
  height: 51vmin;
  margin: 0 auto;
  position: relative;
  border: none;
}

.app [data-class="diary"] + .container { width: 85vw; }

.app .blase {
  position: absolute;
  width: 100%;
  height: 100%;
}


.app .sprechblase.summary, .app .sprechblase.statistics { transform: scaleX(-1); }

.app .before {
  position: absolute;
  width: 90%;
  height: 33vmin;
  text-align: center;
  content: 'Click Me';
  background: #ADD8E6;
  padding: 0;
  top: 1vh;
  border: none;
  margin: auto;
}
 
.app textarea, .app .testContainer {
  position: relative;
  width: 55vmin;
  margin: 0px auto;
  padding: 1.5vmin;
  display: table;
  height: 33vmin;
  border: none;
  outline: none;
  border-radius: 1rem;
  resize: none;
  font-family: monospace;
  top: 7vmin;
  overflow: hidden;
}

.app .infoContainer {
  font-family: monospace;
  text-shadow: 1px 1px 1px white,-1px 1px 1px white,1px -1px 1px white,-1px -1px 1px white;
}

.app .testContainer.diaryContainer {
  width: auto;
}

.app .diary { line-height: 2rem; white-space: nowrap; }

.app .diary td:first-child { text-align: center; }

.app .chunkContainer { display: table-cell; vertical-align: middle; 
}

.app .chunkContainer.infos { display: block; }

.app .continueIndex {
  position: relative;
  left: calc(100% - 6rem);
  font-family: sans-serif;
  font-weight: bold;
  border: 0.2rem solid black;
  padding: 0.2rem;
  top: 1rem;
  border-radius: 0.5rem;
}

.app .continueIndex.summary {
  left: calc(100% - 10rem);
}

.app .skipIndex {
  position: relative;
  left: 4rem;
  font-family: sans-serif;
  font-weight: bold;
  border: 0.2rem solid black;
  padding: 0.2rem;
  border-radius: 0.5rem;
}

.app .skipIndex.deleteIndex { left: 12rem; top: -1.1rem; }

.app .mindindex {
  display: inline-block;
  font-size: 24pt;
  font-family: sans-serif;
  vertical-align: super;
}

.app .oldmindindex {
  opacity: 0.5;
}

.app .mindindex.newsd {
  font-size: 16pt;
  opacity: 0.7;
}

.app .mIdirection {
  height: 24pt;
  width: 24pt;
  vertical-align: baseline;
}

.app .summary {
  font-family: sans-serif;
  font-variant: condensed;
}

.app .summary.dynamic {
  font-family: monospace;
  font-weight: bold;
}

.app .setting.back {
  width: 1rem;
  height: 3rem;
  margin: 1rem;
  position: absolute;
}

.app div.setting, .app a.setting {
  font-family: system-ui;
  margin: 0 0 1rem 0; 
}

.app .setting_result.export {
  font-size: small;
  border-radius: 0.2rem;
  white-space: initial;
}

.app .chunkContainer ul {
  list-style-type: none;
}

.app #selectTimeRange { text-align: center; }
.app select.selectTimeRange { border: none; outline: none; }

.app svg { width: 55vmin; height: 42vmin; display: block; }

.app .info { border-radius: 1rem; padding: 1rem; text-align: justify; 	}

.app div.search {
	margin: 0 auto;
	width: 100%;
}

.app input.search {
	border: 0.2rem solid black;
    border-radius: 0.5rem;
    padding: 0.5rem;
    width: calc(80% - 1.5rem);
}

.app label.search, .app span.remove {
	color: transparent;
	width: 10%;
	display: inline-block;
}

.app div.password { margin: 1rem; }

.app div.password.submit, .app div.setting {
    padding: 0.4rem;
    font-family: system-ui;
    border-radius: 1rem;
    box-shadow: 0.1rem 0.1rem 0.1rem grey;
    white-space: nowrap;
}

.app p.password.description {
	width: 70%;
	margin: 0 auto;
	font-family: sans-serif;
}

.app .password label {
	width: 45vmin;
	display: block;
}

.app .progress {
	position: relative;
	width: 90%;
	height: 3rem;
}

.app .progress div {
	height: 1rem;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	white-space: nowrap;
}

.app .progress .finished {
	width: 0%;
}

.app .btn {
	width: 80%;
	min-height: 3rem;
	border-radius: 0.5rem;
	margin: 0.5rem auto;
	text-align: right;
	white-space: initial;
	font-size: small;
	padding: 0.5rem;
	line-height: 2.5rem;
}

.app .btn.small { width: 3rem; }

.app .measure { height: 0; color: transparent; }

/* Demo */
.demo {
	font-family: sans-serif;
	position: fixed;
	bottom: 0;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}
